AI_PROVIDER=Azure

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_EMBEDDING_MODEL=
AZURE_OPENAI_CHAT_MODEL=

OPENAI_ENDPOINT=https://api.openai.com/v1
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=
OPENAI_CHAT_MODEL=

OLLAMA_ENDPOINT=http://192.168.178.22:11434/v1
OLLAMA_EMBEDDING_MODEL=nomic-embed-text
OLLAMA_CHAT_MODEL=gemma4:e4b
